<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>

    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </head>
	
    
    <head th:fragment="js">
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-sm bg-info navbar-dark">
        <a class="navbar-brand" href="#">SI-FARMASI</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
					<a class="nav-link" th:href="@{/medical-supplies}">Medical Supplies</a>
				</li>
                <li class="nav-item active">
					<a class="nav-link" th:href="@{/medical-supplies/permintaan}">Permintaan</a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/medical-supplies/perencanaan}">Perencanaan</a>
				</li>
                <li class="nav-item active">
					<a class="nav-link" th:href="@{/medical-supplies/jadwal-staf}">Jadwal Jaga</a>
				</li>
            </ul>
            <ul class ="navbar-nav pull-right">
            	<li class="nav-item active">	
            		<a class="nav-link" th:href="@{/logout}">Logout &#10162; </a>
            	</li>
            </ul>
        </div>
    </nav>
    <footer th:fragment="footer"> 
		<br>
		<div class="d-flex justify-content-center"><p>Sistem Informasi Farmasi &copy; Kelompok B - APAP A</p></div>
	</footer>
</body>

</html>