<!DOCTYPE>
<html xmlns:th= "http://thymeleaf.org">

<head>
	<title>403 Error</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<p></p>
	<br>
	<center><h1>Oops!</h1></center>
	<center><h5>No Permission to Access</h5></center>
	<form th:action="@{/}" style="margin-left:150px;">
      	<br>
          <div class="row form-group" >
              <button type="submit" class="btn btn-primary" style="margin-left:480px;">Go to Homepage</button>
          </div>
      </form>
</body>