<!DOCTYPE>
<html xmlns:th= "http://thymeleaf.org">

<head>
	<style>
	    body {
			background-image: url(https://image.freepik.com/free-photo/blur-hospital_1203-7972.jpg);
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-size: cover; 
		    }
	</style>
	<title>500 Internal Server Error</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<p></p>
	<h2>Internal Server Error</h2>
</body>