<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Perencanaan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<h3 class="text-center">Tambah Perencanaan</h3>
		<form th:action="@{/medical-supplies/perencanaan/tambah}" th:object="${perencanaan}" method="POST">
  			<input type="hidden" name="id" th:value="*{id}">
			<table>
				<tr>
					<td width="200">Tanggal</td>
					<td><input type="Date" name="tanggal" class="form-control form-input" th:field="*{tanggal}" required /></td>
					
					<td><input type="hidden" name="status" value="diajukan" /></td>
				</tr>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nama Obat/Alat</th>
						<th scope="col">Jumlah</th>
						<th scope="col">
							<button type="submit" name="addRow" class="btn btn-primary">Tambah Medical Supplies</button>
						</th>
					</tr>
				</thead>
				<tr th:each="perencanaanMedsup, rowStat : *{listPerencanaanMedicalSupplies}">
					<td>
						<input type="text"  class="form-control form-input" th:field="*{listPerencanaanMedicalSupplies[__${rowStat.index}__].medicalSupplies.nama}" />
					</td>
					<td>
						<button type="submit" name="removeRow" class="btn btn-primary" th:value="${rowStat.index}">Hapus</button>
					</td>
				</tr>
			</table>
			
			<button type="submit" class="btn btn-submit">Simpan</button>
  		</form>
	</div>
	<!-- <div class="footer navbar-fixed-bottom text-center">
  		<p>Sistem Informasi Farmasi &copy; Kelompok B - APAP A</p>
	</div>
	-->
</body>
</html>