<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Tambah Jadwal Jaga Baru</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<style>
	select option[disabled] {
    	display: none;
	}
	</style>
	
	<style>
		.footer {
		   position: fixed;
		   color: black;
		   width:100%;
		   height:50px;
		   text-align: center;
		   font-size:12px;
		   bottom: 0px;
		}
	</style>
	
	<style>
		.button {
		background-color: #008CBA;
		font-size: 14px;
		border: none;
	    color: white;
	    padding: 10px 20px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin: 4px 2px;
	    cursor: pointer;
		}
	</style>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar (pageTitle='View Pilot')"></nav>
	<div id="Content" class="container-full-bg">
		<h2 class="text-center"> Tambah Jadwal Jaga Baru</h2>
		<center>
			<img src="https://img.icons8.com/ios/1600/user-female-circle-filled.png" alt="farmasi" style="width:150px;height:150px;">
		</center>
		<br></br>
	<form class="form-horizontal" th:action="@{/medical-supplies/jadwal-staf/tambah}" th:object="${jadwal}" method="POST">

		<div class="form-group">
			<label class="control-label col-sm-2">Nama Staff Jaga:</label>
    			<select type="text" name="idStaff">
					<option th:each="staff : ${listStaff}" th:value="${staff.id}" th:text="${staff.nama}" required></option>
				</select>
		</div>
		  
		<div class="form-group">
			<label class="control-label col-sm-2">Waktu Mulai Jaga:</label>
			<input list="timeStart" th:field="*{waktuMulai}" th:value="*{waktuMulai}" required>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2">Waktu Berakhir Jaga:</label>
	    	<input list="timeEnd" th:field="*{waktuSelesai}" th:value="*{waktuSelesai}" required>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="tanggal_jaga">Tanggal Jaga:</label>
    		<div class="col-sm-2">
    		  <input type="date" class="form-control" id="tanggal_jaga" name="tanggal_jaga" th:value="*{tanggal}" th:field="*{tanggal}" required>
    		</div>
		</div>
		
		<br></br>
		<div class="form-group" >
			<button type="submit" class="button" >Submit</button>
		</div>

	</form>
	
	<datalist id="timeStart">
		<option value="8:00:00" ></option>
		<option value="16:00:00" ></option>
	</datalist>
	
	<datalist id="timeEnd">
		<option value="15:59:59" ></option>
		<option value="23:59:59" ></option>
	</datalist>
	
	</div>
	
</body>
<script>
    $('#provinsi').on('click',function() {
        $('#instansi').children('option').each(function(){
            if($(this).attr('prov') !== $('#provinsi').val() ) $(this).attr('disabled', 'disabled')
            else $(this).removeAttr('disabled')
        }) 
    })
    $('#provinsi').trigger('click')
</script>
</html>