<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Tambah User Baru
                    </div>
                    <div class="card-body">
                    	<form th:action="@{/user/addUser}" method="post">
                            <div class="row form-group">
                                <label class="col-sm-4">User Name:</label>
                                <input type="text" class="col-sm-8 form-control input-sm" name="username">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="password" 
                                pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" 
                                title="Must contain at least one number and one letter, and at least 8 or more 
                                characters">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Role:</label>
                                <input type="text" class="col-sm-8 form-control input-sm" name="role">
                            </div>
                            <div>
                            	<button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                    	
                    	</form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>