<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View All Medical Supplies</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">    
    <style>
       	body {
			background-image: url(https://image.freepik.com/free-photo/blur-hospital_1203-7972.jpg);
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-size: cover; 
		    }
		.footer {
		   position: fixed;
		   color: black;
		   width:100%;
		   height:50px;
		   text-align: center;
		   font-size:12px;
		   bottom: 0px;
		}
	</style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	<h1>Belum ada Medical Supply tersedia</h1>
    </div>
    <div class="footer navbar-fixed-bottom text-center">
  		<p>Sistem Informasi Farmasi &copy; Kelompok B - APAP A</p>
	</div>
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</html>