<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Success</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>    
	
	<div class = "container-fluid">
		<div class = "header">
			<div class = "alert alert-success" role = "alert">
				<h1>Sukses!</h1>
				<p th:text = "${msg}"></p>
			</div>
		</div>
	</div>
</body>
</html>