<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Sukses Update Jadwal</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<style>
	    body {
			background-image: url(https://image.freepik.com/free-photo/blur-hospital_1203-7972.jpg);
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-size: cover; 
		    }
	</style>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1>Sukses!</h1>
	<h1>Jadwal Berhasil Diupdate</h1>
	<footer th:fragment="footer"> 
		<br>
		<div class="d-flex justify-content-center"><p style="font-size:12px">Sistem Informasi Farmasi RS Cepat Sembuh &copy; Kelompok B - APAP A</p></div>
	</footer>
</body>

	
</html>