<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Sukses Update Jadwal</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<style>
		.footer {
		   position: absolute;
		   bottom:0;
		   color: black;
		   width:100%;
		   height:50px;
		   text-align: center;
		   font-size:12px;
		}
	</style>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1>Sukses! Jadwal Berhasil Diupdate</h1>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>

	
</html>