<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-8">
    			<h3 class="text-center">Detail Perencanaan</h3>
		    	<table>
					<tr>
						<td height="30" width="100">Nama</td>
						<td>Siapa?</td>
					</tr>
					<tr>
						<td height="30">Status</td>
						<td>Jomblo</td>
					</tr>
					<tr>
						<td height="30">Tanggal</td>
						<td>Hayo lupa ya?</td>
					</tr>
					<tr>
						<td height="30">Jumlah</td>
						<td>Tebak!</td>
					</tr>
				</table>
    		</div>
    		<div class="col-md-4">
    			<h3>Daftar Perencanaan</h3>
    			<table>
    				<thead>
    					<th>Id</th>
    					<th>Tanggal</th>
    					<th>Status</th>
    				</thead>
    				<tbody>
    					<span th:each="perencanaan : ${listPerencanaan}">
    						<tr>
    							<td th:text="${perencanaan.id}"></td>
    							<td th:text="${perencanaan.tanggal}"></td>
    							<td th:text="${perencanaan.status}"></td>
    						</tr>
    					</span>
    				</tbody>
    			</table>
    		</div>
    	</div>
    	
			
    </div>
</body>

</html>