<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Daftar Permintaan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	<br>
    	<h3 class="text-center">Jadwal Jaga Staf Apoteker</h3>
    	 	<div class="row form-group">
                    <form th:action="@{/medical-supplies/jadwal-staf/tambah}" style="margin-left:20px;">
						<button type="submit" class="btn btn-primary">Tambah</button>
					</form>
            </div>
            
            <div class="row form-group">
                    <form th:action="@{/medical-supplies/jadwal-staf/update}" style="margin-right:50px;">
						<button type="submit" class="btn btn-primary">Update</button>
					</form>
            </div>
    	
    	<table id="tableAllJadwalJaga" class="display">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Tanggal</th>
					<th>Waktu Mulai</th>
					<th>Waktu Selesai</th>
				</tr>
			</thead>
			<tbody>
				<span th:each="jadwalJaga : ${listJadwalJaga}">
					<span th:each="staff : ${listStaff}">
						<span th:if="${staff.id == jadwalJaga.idStaff}">
							<tr>
								<td th:text="${staff.nama}"></td>
								<td th:text="${jadwalJaga.tanggal}"></td>
								<td th:text="${jadwalJaga.waktuMulai}"></td>
								<td th:text="${jadwalJaga.waktuSelesai}"></td>
							</tr>
						</span>
					</span>
				</span>
			</tbody>
		</table>
    </div>
    
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
	$(document).ready( function () {
	    $('#tableAllJadwalJaga').DataTable();
	} );
</script>

</html>