<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    
    <style>
		.footer {
		   position: fixed;
		   color: black;
		   width:100%;
		   height:50px;
		   text-align: center;
		   font-size:12px;
		   bottom: 0px;
		}
	</style>
	
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	
    	<div class="row">
    		<div class="col-md-8">
    			<h3 class="text-center">Detail Perencanaan</h3>
    			<div class="card my-5">
    				
		    		<table>
						<tr>
							<th height="60" width="100">Nama</th>
							<td>: Siapa?</td>
						</tr>
						<tr>
							<th height="60">Status</th>
							<td>: Jomblo</td>
						</tr>
						<tr>
							<th height="60">Tanggal</th>
							<td>: Hayo lupa ya?</td>
						</tr>
						<tr>
							<th height="60">Jumlah</th>
							<td>: Tebak!</td>
						</tr>
					</table>
    			</div>
    			
    		</div>
    		<div class="col-md-4 text-center">
    			<h3>Daftar Perencanaan</h3>
    			<div class="card my-5">
    				<table class="table">
    				<thead>
    					<th>No</th>
    					<th>Tanggal</th>
    					<th>Status</th>
    				</thead>
    				<tbody>
    					<span th:each="perencanaan : ${listPerencanaan}">
    						<tr>
    							<td th:text="${perencanaan.id}"></td>
    							<td th:text="${perencanaan.tanggal}"></td>
    							<td th:text="${perencanaan.status}"></td>
    						</tr>
    					</span>
    				</tbody>
    			</table>
    			</div>
    			
    		</div>
    	</div>
    	
    </div>
    <div class="footer navbar-fixed-bottom text-center">
  		<p>Sistem Informasi Farmasi &copy; Kelompok B - APAP A</p>
	</div>
</body>

</html>