<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Daftar Jadwal Jaga</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    
    <style>
		.footer {
		   color: black;
		   width:100%;
		   height:50px; 
		   text-align: center;
		   font-size:12px;
		   bottom: 0px;
		}
	</style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	<br>
    	<h3 class="text-center">Jadwal Jaga Staf Apoteker</h3>    
    	
    	<table id="tableAllJadwalJaga" class="display">
			<thead>
				<tr>
					<th>Id Jadwal</th>
					<th>Nama</th>
					<th>Id Staff</th>
					<th>Tanggal</th>
					<th>Waktu Mulai</th>
					<th>Waktu Selesai</th>
					<th>Update Jadwal</th>
				</tr>
				<br></br>
			</thead>
			<tbody>
				<span th:each="jadwalJaga : ${listJadwalJaga}">
					<span th:each="staff : ${listStaff}">
						<span th:if="${staff.id == jadwalJaga.idStaff}">
							<tr>
								<td th:text="${jadwalJaga.id}"></td>
								<td th:text="${staff.nama}"></td>
								<td th:text="${staff.id}"></td>
								<td th:text="${jadwalJaga.tanggal}"></td>
								<td th:text="${jadwalJaga.waktuMulai}"></td>
								<td th:text="${jadwalJaga.waktuSelesai}"></td>
								<td>
									<form th:action="@{'/medical-supplies/jadwal-staf/' + ${jadwalJaga.id}}" method="GET" style="margin-left:20px;">
										<button type="submit" class="btn btn-primary">Update</button>
									</form>
								</td>
							</tr>
						</span>
					</span>
				</span>
			</tbody>
		</table>
    </div>

    <div class="row form-group">
    	<form th:action="@{/medical-supplies/jadwal-staf/tambah}" style="margin-left:650px;">
			<button type="submit" class="btn btn-primary">Tambah</button>
		</form>
     </div> 
    
    <br></br>
    <footer th:replace="fragments/fragment :: footer"></footer>
    
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
	$(document).ready( function () {
	    $('#tableAllJadwalJaga').DataTable();
	} );
</script>

</html>