<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">    
    <style>
		.footer {
		   position: fixed;
		   color: black;
		   width:100%;
		   height:50px;
		   text-align: center;
		   font-size:12px;
		   bottom: 0px;
		}
	</style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    	
    	<div class="row">
    		<div class="col-md-7">
    			<h3 class="text-center">Detail Perencanaan</h3>
    			<div class="card my-5" id="tablePerencanaanContent">
    				<table>
						<tr>
							<th height="60">Tanggal</th>
							<td th:text="': ' + ${aPerencanaan.tanggal}"></td>
						</tr>
						<tr>
							<th height="60">Status</th>
							<td th:text="': ' + ${aPerencanaan.status}"></td>
						</tr>
    				</table>
    				
		    		<table id="tablePerencanaan" class="display">
		    			<thead class="text-center">
		    				<th>Nama Obat/Alat</th>
		    				<th>Jumlah</th>
		    			</thead>
		    			<tbody>
		    				<span th:each="perencanaanMedSup : ${listPerencanaanMedSup}">
		    					<tr>
			    					<td th:text="${perencanaanMedSup.medicalSupplies.nama}"></td>
			    					<td th:text="${perencanaanMedSup.jumlah}" class="text-center"></td>
			    				</tr>
		    				</span>
		    				
		    			</tbody>
					</table>
    			</div>
    			
    		</div>
    		<div class="col-md-5 text-center">
    			<h3>Daftar Perencanaan</h3>
    			<div class="card my-5">
    				<table id="tableAllPerencanaan" class="display">
	    				<thead>
	    					<th>No</th>
	    					<th>Tanggal</th>
	    					<th>Status</th>
	    				</thead>
	    				<tbody>
	    					<span th:each="perencanaan : ${listPerencanaan}">
	    						<div>
	    							<tr class="rowPerencanaan" >
		    							<td class="id" th:text="${perencanaan.id}"></td>
		    							<td th:text="${perencanaan.tanggal}"></td>
		    							<td th:text="${perencanaan.status}"></td>
		    						</tr>
	    						</div>
	    						
	    					</span>
	    				</tbody>
	    			</table>
    			</div>
    		</div>
    	</div>
    	
    </div>
    <div class="footer navbar-fixed-bottom text-center">
  		<p>Sistem Informasi Farmasi &copy; Kelompok B - APAP A</p>
	</div>
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
	$(document).ready( function () {
	    $('#tableAllPerencanaan').DataTable();
	    $('#tablePerencanaan').DataTable();
	} );
</script>
<script th:inline="javascript">
	$(document).ready(function(){
		$('.rowPerencanaan').click(function(){
			alert(this.children("td.id").val());	
			//alert("asdasd")
		});
	});
</script>
</html>